
<%= render "shared/header_menu" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Jobs</a></li>
            <li><a href="#">CV's</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Candidates</a></li>
            <li><a href="">Recruiters</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <h2 class="col-xs-11">Jobs</h2>
          <%= primary_button "Create", new_job_path, id: "new_job", class: "col-xs-1" %>

          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Job Title</th>
                  <th>Overview</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>

              <tbody>

                <% @jobs.each do |job| %>
                <tr>
                  <td><%= link_to job.title, job_path(job) %></td>
                  <td><%= job.overview %></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
